<div class="container py-4">
  <h1 class="mb-4">
    Template (Local) Reference Variable & @ViewChild decorator
  </h1>

  <ul>
    <li>Can be added to any element in DOM using # as the first character</li>
    <li>
      Using Template reference we can access DOM elements and their properties
    </li>
    <li>Can be used only in the HTML template</li>
    <li>
      To access in TS component we need to explicitly pass the reference to TS
      trough an event in the HTML template.
    </li>
    <li>
      Sometimes we need to get access to the DOM before we trigger an event in
      HTML. For that type of usecase, we can use @ViewChild
    </li>
    <li>When we pass the template reference variable directly, we get access to the element itself, but when we access it trough ViewChild, we can access to its reference. In order to access the element, we need to use .nativeElement and then we can use focus</li>
    <li>Using @ViewChild we can alse access cmponents.</li>
  </ul>

  <h2>Example:</h2>

  <p #channelName class="mb-4">WebTechTalk</p>

  <form class="row row-cols-lg-auto g-3 align-items-center">
    <div class="row">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Enter text"
          #myInput
        />
      </div>
      <div class="col-4">
        <button
          type="button"
          class="btn btn-primary"
          (click)="sendInput(myInput, channelName)"
        >
          Click
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Enter text"
          #myInputNew
          ngModel
          name="first"
        />
      </div>
      <div class="col-4">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="myInputNew.value.length === 0"
          (click)="sendInput(myInputNew, channelName)"
        >
          Click
        </button>
      </div>
    </div>
  </form>
</div>
